/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

markdown h1, markdown h2, markdown h3, markdown h4, markdown h5, markdown h6 {
  font-family: 'Arial', sans-serif;
  color: #333;
}

markdown p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 1em; /* Add spacing between paragraphs */
  text-align: justify;
  text-indent: 20px; /* Indent the first line */
}

markdown ul {
  margin-left: 20px;
  list-style-type: disc !important;
  padding-left: 20px; /* Add padding for indentation */
  margin-bottom: 1em; /* Space below the list */
}

markdown ul li {
  margin-bottom: 5px;
  margin-bottom: 0.5em; /* Add space between list items */
  font-size: 14px; /* Adjust list item font size */
}

/* Adding hover effect for links */
markdown a:hover {
  text-decoration: underline;
  color: #007bff;
}

